.resume-container {
  width: 570px;
  height: 460px;
  margin-top: 35px;
  margin-left: 10%;
}

.resume_header {
  align-items: center;
  width: 100%;
}

.description {
  padding-top: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #f8f9fa;
}

.buttons-container {
  display: flex;
  margin-left: 125px;
}

.buttons-container > button {
  margin-left: 16px;
}

.buttons-container > button:hover {
  color: #fff;
  background-color: #fd377e;
  border: solid 2px #fd377e;
}

.warning {
  margin: auto;
  margin-left: 10%;

  font-weight: 700;
  font-size: 22px;
  line-height: 34px;

  color: #f8f9fa;
}

.resume-list {
  padding-left: 0;
}
